.header {
  width: 100%;
  background: var(--White);
}

.header__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 5.5625rem;

  padding: 1.2em 0;
}

.header__h1 {
  max-width: 8.8rem;
}

.header__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__li {
  position: relative;
  font-size: .9rem;
  font-weight: 400;
  color: var(--Grayish-Blue);
  transition: all 100ms ease;
}

.header__li::before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -33px;
  height: 5px;
  background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
  opacity: 0;
  transition: all 300ms ease;
}

.header__li:hover::before {
  opacity: 1;
}

.header__li:hover {
  color: var(--Dark-Blue);
}

.header__menu {
  display: none;
}


@media screen and (max-width: 640px) {
  .header {
    position: relative;
    z-index: 5;
  }
  .header__wrapper {
    background-color: var(--White);
    width: 100%;
    padding: 2em 1.5em;
    z-index: 4;
  }
  .header__h1 {
    max-width: 15rem;
  }

  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    width: 90%;
    height: 0vh;
    overflow: hidden;
    pointer-events: none;
    border-radius: 6px;
    background-color: var(--White);
    opacity: 0;
    transition: all 300ms ease;
  }

  .activo {
    height: 37vh;
    opacity: 1;
    pointer-events: auto;
  }

  .header__ul {
    flex-direction: column;
    gap: 2.3rem;
  }

  .header__li {
    font-size: 1.5rem;
    color: var(--Dark-Blue);
  }

  .header__li::before {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 2rem;
    height: 1rem;
    cursor: pointer;
  }

  .open .header__hamburguesa:first-child{
    transform: rotate(45deg);
  }

  .open .header__hamburguesa:nth-child(2){
    opacity: 0;
  }

  .open .header__hamburguesa:last-child{
    transform: rotate(-45deg);
  }

  .header__hamburguesa {
    width: 100%;
    height: 2px;
    background: var(--Dark-Blue);
    border-radius: 5px;
    transition: all 500ms ease;
    transform-origin: 6px 1px;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    transition: all 300ms ease;
  }

  .overlay-open {
    background: linear-gradient(var(--Dark-Blue), var(--White));
    display: block;
    opacity: .7;
  }
}

@media screen and (max-width: 1024px) {
  .header__button {
    display: none;
  }
}
